@font-face {
    font-family: luxuryFont;
    src: url(../fonts/CinzelDecorative-Regular.ttf);
}
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.app {
    position: relative;
    min-height: 63rem;
    width: 100vw;
    background-color: rgb(2, 32, 2);
}
 
a {
    text-decoration: none !important;
}

.navlist {
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    /* display: none !important; */
    background-color: rgba(0, 0, 0, 0.454);
    z-index: 5;
    text-decoration: none;
  }
  
  .navlist li {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    list-style-type: none;
    font-family: luxuryFont;
    font-size: 1.1rem;
    user-select: none;
    color: #ffd900;
    text-shadow: 0px 0px 5px black;
  }
  
  .navlist li:hover {
    transform: scale(1.12);
    text-shadow: 0px 0px 2px gray;
  }

.nav-logo-href {
    position: fixed;
    width: 0rem;
    top: 0.5rem;
    left: 0rem;
}

.brand-logo {
    position: absolute;
    width: 4rem;
    left: 1rem;
    cursor: pointer;
  }

  .cta-a {
    text-decoration: none;
    color: black;
  }

  .reserveren-li {
    border-bottom: 1px solid #ffd700;
    }

    .page-hero {
      position: absolute;
      width: 100vw;
      height: 4rem;
      top: 10rem;
      padding-left: 5rem;
      user-select: none;
      transform: scale(0.1);
      opacity: 0 !important;
      transition: all 0.8s ease-in-out;
    }
    
    .hero-title {
      font-family: luxuryFont;
      color: #ffd700;
    }

    .active {
      opacity: 1 !important;
      transform: scaleY(1);
    }