@font-face {
  font-family: luxuryFont;
  src: url(../fonts/CinzelDecorative-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  /* background-color: rgb(6, 62, 6); */
  background-color: black;
  overflow-x: hidden;
}

.app {
  position: relative;
  width: 100vw;
  height: auto;
}

.navlist {
  position: fixed;
  top: 0rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
  /* display: none !important; */
  background-color: rgba(0, 0, 0, 0.454);
  z-index: 5;
}

.navlist li {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
  font-family: luxuryFont;
  font-size: 1.1rem;
  user-select: none;
  color: #ffd900;
  text-shadow: 0px 0px 5px black;
}

.navlist li:hover {
  transform: scale(1.12);
  text-shadow: 0px 0px 2px gray;
}

.header-div {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.landing-img-container {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cycle-image {
  width: auto;
  height: 100%;
  min-width: 100vw;
  max-height: 100vh;
}

.smooth-transition {
  animation: imageTransition 2.5s ease-in-out forwards;
}

@keyframes imageTransition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.main-cta-div {
  position: relative;
  width: 100vw;
  height: 4rem;
  top: 60%;
  /* background-color: green; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-cta-box {
  position: relative;
  width: 100vw;
  height: 4rem;
  top: 80%;
  /* background-color: green; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.down-cta-box2 {
  position: relative;
  width: 100vw;
  height: 4rem;
  top: 6rem;
  /* background-color: green; */
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.2s ease-in-out;
}

.reserveren-cta {
  position: relative;
  width: 15rem;
  height: 3rem;
  outline: 0;
  border: 1px solid #ffd700;
  background-color: #ffd700;
  color: black;
  font-family: luxuryFont;
  font-weight: 800;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.45s ease-in-out;
  text-decoration: none;
}

.reserveren-cta:hover {
  background-color: #0d0b03;
  color: #ffd700;
  border: black;
  text-shadow: 0px 0px 5px #ffd700;
}

.reserveren-cta a:hover {
  background-color: transparent;
  color: #ffd700;
  border: black;
  text-shadow: 0px 0px 5px #ffd700;
}

.reserveren-cta:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffd700;
  transform-origin: bottom right;
  transition: transform 0.65s ease-out;
}

.reserveren-cta:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cta-a {
  text-decoration: none;
  color: black;
}

.reserveren-li {

border-bottom: 1px solid #ffd700;
}


.villa-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: luxuryFont;
  font-weight: 800;
  font-size: 1.5rem;
  color: #ffd700;
  background: url("../img/cover/fallback.png");
}

.content {
  position: relative;
  height: 63rem;
  width: 100%;
  /* background: linear-gradient(180deg,black, black, black, white); */
  background-color: black;
  color: #ffd900;
  letter-spacing: 2px;
  overflow: hidden;
  font-family: luxuryFont;
}

.hero-div {
  position: relative;
  top: 7rem;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
}



.stijl-hero {
  position: relative;
  font-family: luxuryFont;
  color: #ffd900;
  font-size: 2.5rem;
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}

.review-hero {
  position: relative;
  font-family: luxuryFont;
  color: #ffd900;
  font-size: 2.5rem;
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}


.down-cta-1 {
  position: relative;
  background-color: transparent;
  border: transparent;
  outline: 0;
  /* border: 1px solid white; */
  height: 6rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  cursor: pointer;
}

.down-cta-2 {
  position: relative;
  background-color: transparent;
  border: transparent;
  outline: 0;
  /* border: 1px solid white; */
  height: 6rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  cursor: pointer;
  top: -1rem;
}

.down-cta-3 {
  position: relative;
  background-color: transparent;
  border: transparent;
  outline: 0;
  /* border: 1px solid white; */
  height: 6rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  cursor: pointer;
  top: -1rem;
}

.down-cta-box3 {
  position: absolute;
  background-color: transparent;
  border: transparent;
  outline: 0;
  height: 6rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  cursor: pointer;
  top: 40rem;
  /* background-color: green; */
}

.span-stl {
  color: rgb(85, 82, 82);
  font-size: 1.5rem;
}

.fa-chevron-down {
  text-decoration: none;
}

.span1 {
  position: relative;
  transition: all 1.5s ease-in-out;
  
}

.span2 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span3 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span4 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span5 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span6 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span7 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span8 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.span9 {
  position: relative;
  transition: all 1.5s ease-in-out;
}

.content-main {
  position: relative;
  top: 9rem;
  width: 100vw;
  height: 42rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  /* opacity: 0; */
}

.leftbox {
  position: relative;
  height: 100%;
  width: 40rem;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}

.fancy-modal {
  position: relative;
  width: 80%;
  height: 18rem;
  border-radius: 0.4rem;
  /* border: 2px solid #ffd900; */
  color: #ffd900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-block {
  position: relative;
  width: 100%;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */

}

.demo-video {
  position: relative;
  width: 100%;
  border-radius: 0.4rem;
}

.bekijk-kamers {
  color: rgb(199, 188, 188);
  /* position: absolute; */
  top: 30.5rem;
  right: 5rem;
  width: 100%;
  text-align: right;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
}

.bekijk-kamers:hover {
  color: white;
}


.rightbox {
  position: relative;
  height: 100%;
  width: 40rem;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}

.reviews {
  position: relative;
  height: 63rem;
  width: 100%;
  /* border-top: 1px solid white; */
  background-color: black;
  color: #ffd900;
  letter-spacing: 2px;
  overflow: hidden;
  font-family: luxuryFont;
  /* border: 1px solid blue; */

}


.hero-div2 {
  position: relative;
  top: 7rem;
  width: 100%;
  height: 5rem;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
}

.reviews-container {
  position: relative;
  width: 100%;
  height: 40rem;
  top: 8rem;
  gap: 5rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-outer-modal {
  position: relative;
  width: 20rem;
  height: 25rem;
  /* border: 1px solid white; */
  border-radius: 0.6rem;
  background-color: rgb(230, 246, 7);
  box-shadow: 0px 0px 10px yellow;
  user-select: none;
}

.modal1 {
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}
.modal2 {
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}
.modal3 {
    transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}


.review-modal {
  position: relative;
  height: 25rem;
  width: 20rem;
  left: 0.5rem;
  top: 0.5rem;
  /* border: 1px solid white; */
  /* background-color: rgb(124, 188, 209); */
  background: url('../img/Script.png');
  border-radius: 0.6rem;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px yellow;
}

.review-modal:hover {
  left: 0rem;
  top: 0rem;
  box-shadow: 0px 0px 10px yellow;
}

.toprow {
  position: relative;
  width: 100%;
  height: 4rem;
  /* background-color: green; */
}


.modal-img {
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.fa-star {
  font-size: 1.3rem;
  position: relative;
}

.starbox {
  position: relative;
  top: -4rem;
  width: 11rem;
  left: 6.9rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* background-color: green; */
}

.review-date {
  position: relative;
  /* background-color: red; */
  top: -3.9rem;
  left: 7.5rem;
  font-family: "Open Sans";
  color: black;
  font-size: 1.1rem;
}

.review-text-box {
position: relative;
width: 90%;
top: 4rem;
height: 15rem;
left: 5%;
/* border: 1px solid red; */
color: rgb(0, 0, 0);
font-weight: 800 !important;
font-size: 1.5rem;
font-family: "Open Sans";
user-select: none;
}

.review-visited {
  position: absolute;
  font-family: "Open Sans";
  margin-top: 1rem;
  font-size: 0.9rem;
  /* background-color: green; */
}


.locatie {
  position: relative;
  height: 63rem;
  width: 100%;
  /* border-top: 1px solid white; */
  background-color: black;
  color: #ffd900;
  letter-spacing: 2px;
  overflow: hidden;
  font-family: luxuryFont;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.active {
  opacity: 1 !important;
  transform: scaleY(1);
}
