@font-face {
    font-family: luxuryFont;
    src: url(../fonts/CinzelDecorative-Regular.ttf);
}
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

.app {
    position: relative;
    min-height: 63rem;
    width: 100vw;
    background-color: rgb(2, 32, 2);
}
 
a {
    text-decoration: none !important;
}

.navlist {
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    /* display: none !important; */
    background-color: rgba(0, 0, 0, 0.454);
    z-index: 5;
    text-decoration: none;
  }
  
  .navlist li {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    list-style-type: none;
    font-family: luxuryFont;
    font-size: 1.1rem;
    user-select: none;
    color: #ffd900;
    text-shadow: 0px 0px 5px black;
  }
  
  .navlist li:hover {
    transform: scale(1.12);
    text-shadow: 0px 0px 2px gray;
  }

.nav-logo-href {
    position: fixed;
    width: 0rem;
    top: 0.5rem;
    left: 0rem;
}

.brand-logo {
    position: absolute;
    width: 4rem;
    left: 1rem;
    cursor: pointer;
  }

  .cta-a {
    text-decoration: none;
    color: black;
  }

  .reserveren-li {
    border-bottom: 1px solid #ffd700;
    }

.page-hero {
  position: absolute;
  width: 100vw;
  height: 4rem;
  top: 10rem;
  padding-left: 5rem;
  user-select: none;
  transform: scale(0.1);
  opacity: 0 !important;
  transition: all 0.8s ease-in-out;
}

.hero-title {
  font-family: luxuryFont;
  color: #ffd700;
}

.active {
  opacity: 1 !important;
  transform: scaleY(1);
}

.kamers-box {
  position: relative;
  width: 80%;
  left: 10%;
  height: 40rem;
  top: 15rem;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.home-img-box {
  /* position: relative; */
  width: 12rem;
  max-height: 20rem;
  /* border: 1px solid red; */
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  outline: 0;
  border: transparent;
  background-color: transparent;
}

.home-img-box:hover {
  box-shadow: 0px 0px 5px yellow;
}

.door-img {
  background-color: rgb(2, 32, 2);
  height: 100%;
  width: 100%;
  position: relative;
  /* border: 1px solid red; */
  left: 0rem;
  background-color: transparent;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
  cursor: initial;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.transitionOut {
  animation: transOut 0.5s ease-in-out forwards;
}

@keyframes transOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1.3s ease-in-out forwards;
  cursor: initial;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.kamer-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 10;
  opacity: 0;
  transform: scale(0.1);
}
.close-modal {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
}

.fa-xmark {
  font-size: 3rem;
  position: absolute;
  transition: all 0.7s ease-in-out;
}

.close-kamer-btn {
background-color: transparent;
color: white;
outline: 0;
width: 3rem;
height: 3rem;
border: none;
cursor: pointer;
position: absolute;
/* background-color: green; */
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out;
}

.close-kamer-btn:hover {
  border-radius: 50%;
box-shadow: 0px 0px 5px white;
}

.room-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  /* border: 1px solid red; */
  height: 20rem;

}

.room-name1 {
  display: inline-block;
  color: white;
  position: absolute;
  top: 31rem;
  font-family: luxuryFont;
  color: #ffd700;
  padding-left: 0.2rem;
}

.room-name2 {
  display: inline-block;
  color: white;
  position: absolute;
  top: 31rem;
  font-family: luxuryFont;
  color: #ffd700;
  padding-left: 1.5rem;
}

.room-name3 {
  display: inline-block;
  color: white;
  position: absolute;
  top: 31rem;
  font-family: luxuryFont;
  color: #ffd700;
  padding-left: 3rem;
}

.room-name4 {
  display: inline-block;
  color: white;
  position: absolute;
  top: 31rem;
  font-family: luxuryFont;
  color: #ffd700;
  padding-left: 1.5rem;
}

